# Requirements
1. Filter wine ratings dataset by a distinct field.
2. Save filtered subset in a formatted new JSON file.
3. Create a Demo project to illustrate steps 1 and 2 above.
4. Record a Demo video to document the project.

In [1]:
# Bring in required modules
import pandas as pd # Used to process datasets as dataframes
# Read in raw data 
df = pd.read_csv("wine-ratings-small.csv", index_col=0) # read the csv file and set the index column to 0
# Display a few lines to confirm a valid read 
df.head() # show the first 5 rows of the dataframe

,name,grape,region,variety,rating,notes
0,Laurenz V Charming Gruner Veltliner 2013,NaN,"Kamptal, Austria",White Wine,90.0,Aromas of ripe apples and a typical Veltliner ...
1,Laurenz V Charming Gruner Veltliner 2014,NaN,"Kamptal, Austria",White Wine,90.0,Aromas of ripe apples and a typical Veltliner ...
2,Laurenz V Singing Gruner Veltliner 2007,NaN,Austria,White Wine,90.0,"A very attractive fruit bouquet yields apple, ..."
3,Laurenz V Singing Gruner Veltliner 2010,NaN,Austria,White Wine,88.0,"A very attractive fruit bouquet yields apple, ..."
4,Laurenz V Singing Gruner Veltliner 2011,NaN,Austria,White Wine,88.0,"A very attractive fruit bouquet yields apple, ..."

In [2]:
# Get a quick description of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 780 entries, 0 to 779
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     780 non-null    object
 1   grape    0 non-null      float64
 2   region   780 non-null    object
 3   variety  777 non-null    object
 4   rating   780 non-null    float64
 5   notes    775 non-null    object
dtypes: float64(2), object(4)
memory usage: 42.7+ KB

In [3]:
# Remove the grape column since all values are null
df.drop(columns=['grape'], inplace=True) # Drop the grape column from the dataframe
# Confirm removal
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 780 entries, 0 to 779
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     780 non-null    object
 1   region   780 non-null    object
 2   variety  777 non-null    object
 3   rating   780 non-null    float64
 4   notes    775 non-null    object
dtypes: float64(1), object(4)
memory usage: 36.6+ KB

In [4]:
# Filter the dataset - create a subset of sweet wines
sweet_df = df[df['notes'].str.contains('sweet', case=False, na=False)] # Filter notes column on the string 'sweet' 
sweet_df.head()

,name,region,variety,rating,notes
22,Lava Cap Syrah 2013,"El Dorado, Sierra Foothills, California",Red Wine,92.0,The Syrah Vineyard grows on a beautiful south ...
48,L'Aventure Estate Cuvee 2006,"Paso Robles, Central Coast, California",Red Wine,97.0,"""A thrilling, nearly perfect efforts is the 20..."
67,Lavinea Elton Pinot Noir 2016,"Eola-Amity Hills, Willamette Valley, Oregon",Red Wine,91.0,Bright and deep purple in color with a bluish ...
69,Lavinea Nysa Pinot Noir 2016,"Dundee Hills, Willamette Valley, Oregon",Red Wine,93.0,"Clear and shiny, beautiful purple color with a..."
76,Lawson's Dry Hills Gewurztraminer 2009,New Zealand,White Wine,90.0,The 2009 Lawson's Dry Hills Gew√ºrztraminer is ...

In [5]:
# Get a quick description of the dataset
sweet_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 144 entries, 22 to 777
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     144 non-null    object
 1   region   144 non-null    object
 2   variety  142 non-null    object
 3   rating   144 non-null    float64
 4   notes    144 non-null    object
dtypes: float64(1), object(4)
memory usage: 6.8+ KB

In [6]:
# Save filtered dataframe to a JSON file
sweet_df.to_json("sweet-wine-ratings.json", orient="records", indent=4)